body {
  font-family: "WWFRegular", sans-serif;
  height: 5000px;
}
/*이름을 상세하게 설정해주기 grid x , grid_expolore o꼭!!!*/
a {
  text-decoration: none;
  color: #000;
}
.inner {
  width: 1700px;
  position: relative;
  margin: 0 auto;
}
ul {
  list-style: none;
}
img {
  display: block;
}
h3 {
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  bottom: 0;
  margin: 0 0 70px 50px;
  letter-spacing: -3px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
nav > .inner {
  height: 80px;
}

/*버튼 그룹*/
.btn {
  background-color: #f39643;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.btn.btn2 {
  background-color: #f37043;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background-color: #f37043;
}
.btn.btn2:hover {
  background-color: #f37043;
}
.inner .left {
  position: relative;
}
nav .left .logo {
  position: absolute;
  top: 0; /*부모의 시작점 끝점을 기준으로 외부여백 자동계산*/
  left: 0;
  bottom: 0;
  /*왼쪽과 오른쪽에 딱붙*/
  margin: auto;
}
.logo img {
  width: 130px;
}

/*오른쪽 메뉴*/

nav .inner .menu {
  letter-spacing: -1px; /*글자끼리 딱달라붙게*/
  position: relative;
  display: flex;
  color: white;
  justify-content: flex-end;
}
nav .menu .item .item_name {
  padding: 30px 24px 34px 20px;
}
nav .menu .item:hover .item_name {
  background-color: #f39643;
}

nav .menu .item .btn {
  padding: 15px 24px 15px;
  margin: 10px 0 10px 10px; /*margin이 없으면 버튼들끼리 딱달라붙음 evernote정리하기*/
}

nav .menu .item .btn.btn2 {
  position: relative;
}

/* 메뉴 드롭박스 class 를바꿔가며 어찌저찌 하긴했지만
연습이 많이 필요하다*/
.item {
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.content {
  position: absolute;
  display: none;
}
.content li {
  width: 280px;
  padding: 20px 80px 15px 20px;
  color: white;
}
.item:hover .content {
  display: block; /*none된것을 보이게함 꼭 써줘야함*/
}

/*목록태그들 hover했을때 색상*/
.item:hover li {
  background-color: #f39643;
}
.item li:hover {
  background-color: #f39643;
  color: black;
  transition: 0.5s;
}
/*BACKGROUND IMAGE */

.swiper-container {
  display: relative;
  width: 100%;
  height: 100%;

  overflow: hidden; /*다음 이미지 숨김 */
}
.swiper-wrapper {
  position: relative;
  z-index: -1;
  /*이미지가 밑에 깔려야 nav의 버튼들이 보임
  constainer에 index를 줄 시 페이징 버튼까지 밑에깔려서 작동하지않음.*/
}
.back .swiper-container .swiper-slide > img {
  position: relative;
  width: 100%;
  height: 100vh;
  /* object-fit: cover; 사이즈를 컴퓨터 크기에맞게 꽉 채워주기 */
  filter: brightness(70%);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #f39643;
  font-size: 100px;
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
/*이미지 안 버튼 확대하면 ui다깨짐...*/
.swiper-slide > h1 {
  position: absolute;
  font-size: 78px;
  top: 55%;
  left: 30%;
  font-stretch: condensed;
  letter-spacing: -10px; /*글자 간격*/
  font-weight: 500;
  color: #fff;
  line-height: 100%;
}
.subtitle strong {
  position: absolute;
  max-width: 600px;
  font-size: 30px;
  bottom: 25%;
  left: 35%;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.8;
}
.swiper-container .swiper-wrapper .swiper-slide > .btn.btn2 {
  position: absolute;
  cursor: pointer;
}
/*SECTION*/
.title h2 {
  text-align: center;
  font-size: 100px;
  letter-spacing: -10px; /*글자 간격*/
  font-weight: 700;
  margin: 50px 0 50px 0;
}
.title h4 {
  text-align: center;
  font-size: 30px;
}
/*IMAGE GRID*/
.grid_explore {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /*13개의 세로 컬럼*/
  grid-template-rows: 100px, 100px;
  gap: 10px 20px; /*gap의 크기와 row의크기, columns의크기에 따라 막대기 갯수가달라짐*/
  /*이부분이 핵심임!!! px크기와 repeat크기에따라 막대기가 달라지며 차지하는 비율도 달라질수있음 더 공부 필요. 중요!!*/
}

.explore_more .inner .grid_explore .explore:nth-child(1) .image {
  background-image: url("../img/explore1.jpg");
}
.explore_more .inner .grid_explore .explore:nth-child(2) .image {
  background-image: url("../img/explore2.jpg");
}
.explore_more .inner .grid_explore .explore:nth-child(3) .image {
  background-image: url("../img/explore3.jpg");
}
.explore_more .inner .grid_explore .explore:nth-child(4) .image {
  background-image: url("../img/explore4.jpg");
}
.explore_more .inner .grid_explore .explore:nth-child(5) .image {
  background-image: url("../img/explore5.jpg");
}
/*반응형 다르게 조절*/
.grid_explore .explore:nth-child(1) {
  grid-column-start: 1; /*1사진이 끝나는 7번번호에서*/
  grid-column-end: 7;
  overflow: hidden;
}
.grid_explore .explore:nth-child(2) {
  grid-column-start: 7; /*1사진이 끝나는 7번번호에서*/
  grid-column-end: 13;
  grid-row: 1 / 3; /*1번째 가로줄 부터시작 */
  overflow: hidden;
}
.grid_explore .explore:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  overflow: hidden;
}
.grid_explore .explore:nth-child(4) {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  overflow: hidden;
}

.grid_explore .explore:nth-child(5) {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  /* overflow: hidden; */
}
.explore .image {
  height: 500px;
  position: relative;
}
.explore_more .inner .grid_explore .explore .image:hover {
  cursor: pointer;
  box-sizing: border-box;
  border: 11px solid #f37043;
  transition: all 0.3s ease-in-out; /*부드러운 전환*/
}

/*GET INVOLVED*/
.get_involved .swiper-container {
  position: relative;
  width: 100%;
  height: 700px;
}
.get_involved .swiper-container .swiper-wrapper {
  position: relative;
  /* position: absolute; */
}

.get_involved .swiper-slide > img {
  position: absolute;
  width: 600px; /*반응형 다르게 조절 */
  height: 650px;
}
.get_involved .swiper-slide > img:hover {
  border: 11px solid #000;
  cursor: pointer; /*img태그를 사용하니 div 백그라운드로 했을때와달리 hover선택이안됨*/
}
/*WWF-AUSTRALIA*/
.wwf-action {
  height: 800px;
}
.flex_wwf {
  display: flex;
}
.wwf-action .inner .flex_wwf .action .image {
  height: 400px;
  width: 400px;
  margin: 13px;
  transform: scale(1);
  transition: all 0.3s ease-in-out; /*부드럽게전환*/
  cursor: pointer;
}
.wwf-action .inner .flex_wwf .action .image:hover {
  border: 11px solid #f37043;
  box-sizing: border-box;
}
.wwf-action .inner .flex_wwf .action:first-child .image {
  background-image: url("../img/action1.jpg");
}
.wwf-action .inner .flex_wwf .action:nth-child(2) .image {
  background-image: url("../img/action2.jpg");
}
.wwf-action .inner .flex_wwf .action:nth-child(3) .image {
  background-image: url("../img/action3.jpg");
}
.wwf-action .inner .flex_wwf .action:nth-child(4) .image {
  background-image: url("../img/action4.jpg");
}
.wwf-action .inner .flex_wwf .action:last-child {
  background-image: url("../img/action5.jpg");
}

/*TURTLE SECTION*/
.turtle {
  background-color: #131211;
  margin: 0 20px; /*상하 0 좌우 20*/
  height: 800px;
}
.turtle .inner .grid_turtle {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /*13개의 세로 컬럼*/
  gap: 50px;
}
.turtle .inner .grid_turtle .turtle_left {
  width: 450px;
  padding: 80px 0 0 0;
  grid-column-start: 1;
  grid-column-end: 5;
}
.turtle .inner .grid_turtle .turtle_left .bar {
  background-color: #f37043;
  content: "";
  width: 100px;
  height: 10px;
}
.turtle .inner .grid_turtle .turtle_left > h2 {
  color: #fff;
  font-weight: 700;
  font-size: 53px;
  letter-spacing: -4px;
  line-height: 1.4;
  padding: 50px 30px 0 0;
}
.turtle .inner .grid_turtle .turtle_picture {
  grid-column: span 8;
  grid-column-end: auto;
  width: 1100px;
  height: 600px;
  overflow: hidden;
  margin-top: calc(-7 * 10px);
  /*(600-70)비율에 따라 다르게 나타내기위해 calc사용 */
  border: 18px solid #fff;
  /* 버튼이랑 일직선상이되게 calc사용시 음수값이 안먹음 */
}
.turtle .inner .grid_turtle .turtle_picture img {
  width: 1100px;
  height: 600px;
  /*div태그와 img태그 크기가 달라서  남는부분이 background 로 칠해짐. 차이를 맞추기위해 사이즈조정*/
}
.turtle .inner .grid_turtle .topic {
  display: flex;
  grid-column: span 4;
  gap: 20px;
  align-items: center;
}
.turtle .inner .grid_turtle .topic img {
  width: 100px;
}
.turtle .inner .grid_turtle .topic h4 {
  color: #f37043;
  line-height: 1.4;
  font-size: 1.5em;
  font-weight: 700;
}
/* SUBSCRIBE */
.get-update {
  background-color: #131211;
  margin: 50px 20px;
  height: 200px;
}
.get-update .inner .sub-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*13개의 세로 컬럼*/
  padding: 80px 0;
}
.get-update .inner .sub-grid .update {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  color: #fff;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: -3px;
  align-items: center;
}
.get-update .inner .sub-grid .put-adress {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 7;
}
.get-update .inner .sub-grid .put-adress .adress {
  width: 300px;
  height: 40px;
  border-radius: 4px 0 0 4px;
  font-size: 20px;
}
.get-update .inner .sub-grid .put-adress .btn.btn2 {
  border-radius: 0px 4px 4px 0;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 20px;
}

.get-update .inner .sub-grid .text {
  grid-column-start: 8;
  grid-column-end: 12;
  color: #fff;
  width: 590px;
  height: 40px;
  font-size: 25px;
}
/* FOOTER > INFO */
footer {
}
.info {
}
.info .inner {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
.info .inner .link_grid {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.info .inner .link_explain {
  grid-column-start: 1;
  grid-column-end: 8;
}
.info .inner .link_explain .links {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.info .inner .link_explain .links > a {
  margin: 0 20px;
  letter-spacing: -2px;
  text-decoration: none;
}
.info .inner .link_explain .links a:first-child::before {
  display: block;
  content: "";
}
/*첫번째 자식은 margin 방지. before는 inline속성이라 blick으로 의도적으로 바꿔줌.*/
p {
  width: 950px;
}
.info .inner .link_grid .contact {
  grid-column-start: 8;
  grid-column-end: 12;
  display: flex;
}
.info .inner .bar {
  content: "";
  width: 4px;
  height: 110px;
  background-color: #f37043;
}
.info .inner .more_info {
  margin-left: 30px;
}
.info .inner .help {
  font-weight: 600;
  font-size: 30px;
}
.info .inner .telephone {
  line-height: 1.7;
  font-weight: 600;
  font-size: 30px;
}
.info .inner .time {
  line-height: 1.7;
}
/* FOOTER > SNS */
