body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.inner {
  width: 2000px;
  position: relative;
  margin: 0 auto;
}
ul {
  list-style: none;
}
img {
  display: block;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}
nav > .inner {
  height: 80px;
}
/*버튼 그룹*/
.btn {
  background-color: #f39643;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.btn.btn2 {
  background-color: #f37043;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.inner .left {
  position: relative;
}
nav .left .logo {
  position: absolute;
  top: 0; /*부모의 시작점 끝점을 기준으로 외부여백 자동계산*/
  bottom: 0;
  left: 100px;
  /*왼쪽과 오른쪽에 딱붙*/
  margin: auto;
}

/*오른쪽 메뉴*/

nav .inner .menu {
  position: relative;
  display: flex;
  color: white;
  justify-content: flex-end;
}
nav .menu .item .item_name {
  padding: 30px 24px 34px 20px;
}
nav .menu .item:hover .item_name {
  background-color: #f39643;
}

nav .menu .item .btn {
  padding: 15px 24px 15px;
  margin: 10px 10px 10px 10px; /*margin이 없으면 버튼들끼리 딱달라붙음 evernote정리하기*/
}
nav .menu .item .btn:hover {
  background-color: #f37043;
}
nav .menu .item .btn.btn2 {
  position: relative;
  padding: 15px 24px 15px;
}
nav .menu .item .btn.btn2:hover {
  background-color: #f37043;
}
/* 메뉴 드롭박스 class 를바꿔가며 어찌저찌 하긴했지만
연습이 많이 필요하다*/
.item {
  cursor: pointer;
  position: relative;
}

.content {
  position: absolute;
  display: none;
}
.content li {
  width: 280px;
  padding: 20px 80px 15px 20px;
  color: white;
}
.item:hover .content {
  display: block; /*none된것을 보이게함 꼭 써줘야함*/
}

/*목록태그들 hover했을때 색상*/
.item:hover li {
  background-color: #f39643;
}
.item li:hover {
  background-color: #f39643;
  color: black;
  transition: 0.5s;
}
/*BACKGROUND IMAGE */

.swiper-container {
  display: relative;

  overflow: hidden; /*다음 이미지 숨김 */
}

.swiper-wrapper {
  position: relative;
  z-index: -1; /*이미지가 밑에 깔려야 nav의 버튼들이 보임
  constainer에 index를 줄 시 페이징 버튼까지 밑에깔려서 작동하지않음.*/
}
.swiper-container .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover; /*img가 inline속성이기때문에 block으로 변경. 사이즈를 컴퓨터 크기에맞게 꽉 채워주기 */
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #f39643;
  font-size: 100px;
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
