body {
  font-family: "WWFRegular", sans-serif;
}

a {
  text-decoration: none;
}

.inner {
  width: 1700px;
  position: relative;
  margin: 0 auto;
}
ul {
  list-style: none;
}
img {
  display: block;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
nav > .inner {
  height: 80px;
}

/*버튼 그룹*/
.btn {
  background-color: #f39643;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.btn.btn2 {
  background-color: #f37043;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding: 15px 24px 15px;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background-color: #f37043;
}
.btn.btn2:hover {
  background-color: #f37043;
}
.inner .left {
  position: relative;
}
nav .left .logo {
  position: absolute;
  top: 0; /*부모의 시작점 끝점을 기준으로 외부여백 자동계산*/
  left: 0;
  bottom: 0;

  /*왼쪽과 오른쪽에 딱붙*/
  margin: auto;
}
.logo img {
  width: 130px;
}

/*오른쪽 메뉴*/

nav .inner .menu {
  letter-spacing: -1px; /*글자끼리 딱달라붙게*/
  position: relative;
  display: flex;
  color: white;
  justify-content: flex-end;
}
nav .menu .item .item_name {
  padding: 30px 24px 34px 20px;
}
nav .menu .item:hover .item_name {
  background-color: #f39643;
}

nav .menu .item .btn {
  padding: 15px 24px 15px;
  margin: 10px 10px 10px 10px; /*margin이 없으면 버튼들끼리 딱달라붙음 evernote정리하기*/
}

nav .menu .item .btn.btn2 {
  position: relative;
}

/* 메뉴 드롭박스 class 를바꿔가며 어찌저찌 하긴했지만
연습이 많이 필요하다*/
.item {
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.content {
  position: absolute;
  display: none;
}
.content li {
  width: 280px;
  padding: 20px 80px 15px 20px;
  color: white;
}
.item:hover .content {
  display: block; /*none된것을 보이게함 꼭 써줘야함*/
}

/*목록태그들 hover했을때 색상*/
.item:hover li {
  background-color: #f39643;
}
.item li:hover {
  background-color: #f39643;
  color: black;
  transition: 0.5s;
}
/*BACKGROUND IMAGE */

.swiper-container {
  display: relative;
  width: 100%;
  height: 100%;

  overflow: hidden; /*다음 이미지 숨김 */
}
.swiper-slide {
}
.swiper-wrapper {
  position: relative;
  z-index: -1;
  /*이미지가 밑에 깔려야 nav의 버튼들이 보임
  constainer에 index를 줄 시 페이징 버튼까지 밑에깔려서 작동하지않음.*/
}
.swiper-container .swiper-slide > img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover; /* 사이즈를 컴퓨터 크기에맞게 꽉 채워주기 */
  filter: brightness(70%);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #f39643;
  font-size: 100px;
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.swiper-button-next::after:hover {
  color: black;
}
/*이미지 안 버튼 확대하면 ui다깨짐...*/
.swiper-slide > h1 {
  position: absolute;
  font-size: 78px;
  top: 55%;
  left: 30%;
  font-stretch: condensed;
  letter-spacing: -10px; /*글자 간격*/
  font-weight: 500;
  color: #fff;
  line-height: 100%;
}
.subtitle strong {
  position: absolute;
  max-width: 600px;
  font-size: 30px;
  bottom: 25%;
  left: 35%;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.8;
}
.swiper-container .swiper-wrapper .swiper-slide > .btn.btn2 {
  position: absolute;
  bottom: 180px;
  left: 55em;
  cursor: pointer;
}
/*SECTION*/
.title h2 {
  text-align: center;
  font-size: 100px;
  letter-spacing: -10px; /*글자 간격*/
  font-weight: 500;
  margin: 50px 0 50px 0;
}
.title h4 {
  text-align: center;
  font-size: 30px;
}
/*IMAGE GRID*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /*13개의 세로 컬럼*/
  grid-template-rows: 100px, 100px;
  gap: 10px 20px; /*gap의 크기와 row의크기, columns의크기에 따라 막대기 갯수가달라짐*/
  /*이부분이 핵심임!!! px크기와 repeat크기에따라 막대기가 달라지며 차지하는 비율도 달라질수있음 더 공부 필요. 중요!!*/
}

.grid .explore:nth-child(1) .image {
  background-image: url("./img/explore1.jpg");
}
.explore_more .inner .grid .explore:nth-child(2) .image {
  background-image: url("./img/explore2.jpg");
}
.explore_more .inner .grid .explore:nth-child(3) .image {
  background-image: url("./img/explore3.jpg");
}
.explore_more .inner .grid .explore:nth-child(4) .image {
  background-image: url("./img/explore4.jpg");
}
.explore_more .inner .grid .explore:nth-child(5) .image {
  background-image: url("./img/explore5.jpg");
}

.grid .explore:nth-child(1) {
  grid-column-start: 1; /*1사진이 끝나는 7번번호에서*/
  grid-column-end: 7;
  overflow: hidden;
}
.grid .explore:nth-child(2) {
  grid-column-start: 7; /*1사진이 끝나는 7번번호에서*/
  grid-column-end: 13;
  grid-row: 1 / 3; /*1번째 가로줄 부터시작 */
  overflow: hidden;
}
.grid .explore:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  overflow: hidden;
}
.grid .explore:nth-child(4) {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  overflow: hidden;
}

.grid .explore:nth-child(5) {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  overflow: hidden;
}
.explore .image {
  height: 500px;
  position: relative;
  border: 1px solid transparent;
}
.explore_more .inner .grid .explore img:hover {
  border: 11px solid #f37043;
}
.explore_more .inner .grid .explore:hover .image {
  transform: scale(1.1);
  transition: 0.3s;
  border: 11px solid #f37043;
  box-sizing: border-box;
}
.explore_more .inner .grid .explore h3 {
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  bottom: 0;
  margin: 0 0 40px 50px;
  letter-spacing: -3px;
}
